.App {
  max-width: 50%;
  width: 100%;
  background: #F7E2D6;
  margin: 5% auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

body{
  background-color: #F7E2D6;
}